.Menu {
    display: flex;
    width: 100vw;
    list-style: none;
    margin: 0;
    padding: 100px 0 0 0;
    justify-content: space-evenly;
    font-size: 3rem;
}

.Menu li {
    width: 100%;
}

.Menu li a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    box-sizing: border-box;
}

.Menu li a span {
    flex: 0 0 auto;
}

.Menu li a .after {
    flex: 4 0 auto;
}

.Menu li a .before {
    flex: 4 0 auto;
}

.Menu li a .after,
.Menu li a .before {
    border-bottom: 4px solid #5cfd6a;
}

.Menu li a span {
    border-bottom: 4px solid #5cfd6a;
    box-sizing: border-box;
}

.Menu li a.current span {
    border-bottom: none;
}

.Menu li a span::before {
    display: inline-block;
    content: "";
    width: 0.5rem;
    height: 2rem;
    margin: 0 0.5rem 0 0;
    transform: translateY(1rem);
    box-sizing: border-box;
}

.Menu li a span::after {
    display: inline-block;
    content: "";
    width: 0.5rem;
    height: 2rem;
    margin: 0 0 0 0.5rem;
    transform: translateY(1rem);
    box-sizing: border-box;
}

.Menu li a.current {
    cursor: default;
}

.Menu li a.current span::before {
    display: inline-block;
    content: "";
    border-top: 2px solid #5cfd6a;
    border-left: 4px solid #5cfd6a;
    width: 0.5rem;
    height: 2rem;
    margin: 0 0.5rem 0 0;
    transform: translateY(1rem);
}

.Menu li a.current span::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #5cfd6a;
    border-right: 4px solid #5cfd6a;
    width: 0.5rem;
    height: 2rem;
    margin: 0 0 0 0.5rem;
    transform: translateY(1rem);
}