.ContactsPage {
    font-size: 2rem;
}

.ContactsPage ul li {
    list-style: none;
    line-height: 1.8;
}

.ContactsPage ul li::before,
.ContactsPage ul li::after {
    content: '';
    display: inline-block;
    width: 2rem;
}

.ContactsPage ul li:hover::before {
    content: '[';
    width: 2rem;
}

.ContactsPage ul li:hover::after {
    content: ']';
    margin-left: 1rem;
    width: 2rem;
}

.ContactsPage ul li a {
    color: inherit;
    text-decoration: none;
}
