.InfoPage {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.info {
  flex: 3;
}

.avatar-block {
  flex: 1;
  padding-left: 10px;
}

.avatar {
  max-width: 100%;
  max-height: 50vh;
  box-shadow: 10px 10px 0 #192b1d;
}

td:first-child {
  width: 45%;
}
